# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp